node_modules
*.log
.next
app
dist
cardano/configs
cardano/darwin
cardano/win32
cardano/db
cardano/wallets
cardano/db-test
cardano/wallets-test
cardano/socket
cardano/sockets
cardano/lift-db
#Electron-builder output
/dist_electron
.env
.env.*