node_modules
*.log
.next
app
dist
cardano/configs
cardano/darwin
cardano/macos64
cardano/win32
cardano/win64
cardano/linux64
cardano/db-test
cardano/wallets-test
cardano/db
cardano/wallets
cardano/assets
cardano/socket
cardano/sockets
cardano/lift-db
#Electron-builder output
/dist_electron
.env
.env.*